<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.steto.projectdiaw"
    android:versionCode="1"
    android:versionName="DIAW-V0.DEV" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.steto.diaw.activity.SplashScreen"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.steto.diaw.activity.LoginActivity"
            android:label="@string/activity_title_login"
            android:launchMode="singleTop" />
        <activity
            android:name="com.steto.diaw.activity.EpisodesSeenActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.steto.diaw.activity.ListShowsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.steto.diaw.activity.ShowDetailActivity"
            android:theme="@style/AppTheme.TranslucentActionBar" />
        <activity android:name="com.steto.diaw.activity.AmbiguityShow" />

        <service android:name="com.steto.diaw.service.ParseGetEpisodesService" />
        <service android:name="com.steto.diaw.service.ParseUpdateEpisodeService" />
        <service android:name="com.steto.diaw.service.ParseDeleteEpisodeService" />
        <service android:name="com.steto.diaw.service.TVDBService" />
        <service android:name="com.steto.diaw.service.BannerService" />
        <service android:name="com.steto.diaw.service.IMDBService" />

        <!--
        ContentProvider to store episode data.

        The "authorities" here are defined as part of a ContentProvider interface. It's used here
        as an attachment point for the SyncAdapter. See res/xml/syncadapter.xml and SyncService.java.

        Since this ContentProvider is not exported, it will not be accessible outside of this app's
        package.
        -->
        <provider
            android:name="com.steto.diaw.provider.EpisodeProvider"
            android:authorities="com.steto.diaw"
            android:exported="false" />

        <!-- This service implements our SyncAdapter. It needs to be exported, so that the system sync framework can access it. -->
        <service
            android:name="com.steto.diaw.SyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <service android:name="com.steto.diaw.account.AccountService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
    </application>

</manifest>